@import 'color';
.no-page{
    
    text-align: center;
    h3{
        color: $accent-color;
       
    }
    a{
        color: $accent-color;
    }
    img{
        width: 50%;
        height: 400px;
        object-fit: contain;
        margin: 30px auto;
    }
}