@import 'color';
.contactus{
    h2 {
        font-weight: 100;
        line-height: 75px;
        span {
            display: inline-block;
            position: relative;
            width: 100%;
        }

        span:after {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid $accent-color;
            top: 39px;
            width: calc(100% - 100px);
        }

        span:after {
            margin-left: 10px;
        }
    }
    h3,h5{
        color: $accent-color;
    }
    .google-map{
        height: 400px;
    }
    img.map{
        height: 400px;
    }
    input.custom-btn {
        transition: 0.2s;
        color: white;
        background: green;
        padding:6px 34px;
        border-radius: 16px;
        text-decoration: none;
    }
    input.custom-btn:hover {
        background: white;
        border: 1px solid green;
        color: green;
        cursor: pointer;
    }
    .contact-section{
        p.title{
            color: $accent-color;
          
        }
        p{
            margin-bottom: 0;
        }
        .get-quote{
            margin-top: 40px;
            .custom-btn{
                margin-top: 15px;
            }
        }
        .sns{
            .sns-box{
                display: flex;
                i{
                    margin: 10px 10px 10px 0;
                    background: green;
                    color: white;
                    padding: 10px;
                    border-radius: 22px;
                }
                .fa-facebook-f{
                    padding: 10px 13px 10px 13px;
                }
            }
        }
        .quote{
            margin-top: 0px!important;
            label,p{
                font-size: 13px;
            }
            
        }
    }
}