.flex-container.events{
    margin-bottom: 30px;
    .card{
        width: 100%;
        .card-body {
           
            padding: 0.8rem;
            p{
                margin-bottom: 0;
            }
        }
    }
}

