@import "color";
.fixed-btn-wrapper {
    position: fixed;
    bottom: 40%;
    transform: translate(0px, 200px);
    right: 50px;
    text-align: center;
    z-index: 1;
    .message-button {
     
        background-color: $accent-color;
        border-radius: 50px;
        color: white;
        box-shadow: 2px 1px 5px #888887;
        display: inline-block;
        i {
            padding: 10px;
            font-size: 35px;
        }
 
 
        @media (max-width: 540px) {
            i {

                padding: 10px;
                font-size: 25px;
            }
        }
    }
    .message-button:hover {
        cursor: pointer;
    }
    
    .message-button{
        transform: translate(410%, 0);
        transition: 0.4s all;
    }
   .come-in {
            transform: translate(0, 0)!important;           
          }
    .hiring-button {
        a {
            color: white;
        }
        border-radius: 50px;
        margin-top: 50px;
        img {
            width: 100px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(-25deg);
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
}
.site-footer {
    background: $secondary-color;
    padding-top: 20px;
    margin-top: 30px;
    a{
        color: white;
    }
    li {
        list-style: none;
        a {
            color: black;
        }
    }
    li.footer-title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .menu-item{
        font-weight: 100;
    }
    .footer4-widget {
        margin-left: 30px;
        margin-top: -10px;
    }
    .sns-box{
        padding-left: 35px;
        margin-top: -10px;
        i {
            margin: 3px 3px 3px 0;
            background: $accent-color;
            color: white;
            padding: 10px;
            border-radius: 22px;
        }
        .fa-facebook-f {
            padding: 10px 13px 10px 13px;
        }
    }
    .footer-bottom {
        background: $accent-color;
        color: white;
        text-align: center;
        .copyright_txt {
            height: 50px;
            p {
                line-height: 40px;
            }
        }
    }
}
