@import "color";
.fixed-btn-wrapper {
    position: fixed;
    bottom: 40%;
    transform: translate(0px, 200px);
    right: 50px;
    text-align: center;
    .message-button {
        background-color: $accent-color;
        border-radius: 50px;
        color: white;
        box-shadow: 2px 1px 5px #888887;
        display: inline-block;
        i {
            padding: 20px;
            font-size: 30px;
        }
        @media (max-width: 991px) {
            i {
                padding: 3vw;
                font-size: 3vw;
            }
        }
        @media (max-width: 540px) {
            i {
                padding: 3vw;
                font-size: 3vw;
            }
        }
    }
    .message-button:hover {
        cursor: pointer;
    }

    .hiring-button {
        a {
            color: white;
        }
        border-radius: 50px;
        margin-top: 50px;
        img {
            width: 100px;
            transition: 0.4s;
        }
        img:hover {
            transform: rotate(-25deg);
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
}
.site-footer {
    background: $secondary-color;
    padding-top: 20px;
    a{
        color: white;
    }
    li {
        list-style: none;
        a {
            color: black;
        }
    }
    li.footer-title {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .footer4-widget {
        margin-left: 30px;
        margin-top: -10px;
    }
    .footer-bottom {
        background: green;
        color: white;
        text-align: center;
        .copyright_txt {
            height: 50px;
            p {
                line-height: 40px;
            }
        }
    }
}
