@import "color";

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
    box-shadow: 0px 1px 20px 1px rgb(0 0 0 / 20%);
}

header {
    margin-bottom: 50px;
    box-shadow: 0px 1px 20px 1px rgb(0 0 0 / 20%);
    .top-header {
        background-color: $accent-color;
        color: white;

        .container {
            padding-top: 5px;
            padding-bottom: 5px;

            p {
                line-height: 1.3;
                margin-bottom: 0rem;
                font-size: 10px;
            }
        }
    }
    .middle-header {
        text-transform: uppercase;
    }

    .container {
        a {
            color: #6d6d6d;
        }
        .row {
            justify-content: space-between;
            .search-btn-for-mobile {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                }
            }
        }
        .logo {
            display: flex;
            .navbar-toggler {
                display: none;
            }
            @media (max-width: 992px) {
                .navbar-toggler {
                    display: block;
                    color: gray;
                }
            }

            .logo-wrapper {
                padding-top: 10px;
                img {
                    width: 200px;
                    height: auto;
                }
            }
        }
        .navbar-collapse {
            justify-content: flex-end;
        }
        .search-wrapper {
            text-align: end;
            @media (max-width: 992px) {
                display: none;
            }
        }
        .search {
            padding-top: 30px;

            .search-text {
                width: 60%;
                max-width: 400px;
                padding-right: 0px;
                border: none;
                margin-right: -5px;
                background-color: #eae8e8;

            }
            .search-btn {
                padding-left: 6px;
                border: none;
                background: $accent-color;
                color: white;

            }
        }
    }

    .dropdown:hover {
        .dropdown-menu {
            display: block;
           
            .cat-second-child {
                display: block;
            }
        }
        .dropdown-menu.depth-0{
            // position: absolute;
            top: 30px;
        }
        ul.dropdown-menu {
            padding-right: 30px;
            font-size: 15px;
            color: gray;
            font-weight: 100;
            padding-right: 30px;
            a {
                padding: 0;
                font-weight: 100;
                padding-left: 10px;
                font-size: 13px;
            }
            li.cat-title {
                height: auto;
                a::after {
                    display: none;
                }
                .dropdown-menu {
                    display: block;
                    border: none;
                    position: relative !important;
                    margin: 0;

                    border-bottom: 1px solid #ccc;
                    a {
                        font-weight: 100;
                        padding-left: 10px;
                        font-size: 13px;
                    }
                    .cat-second-child {
                        a {
                            color: gray;
                            font-weight: 100;
                            font-size: 13px;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }


    .dropdown-menu {
         

        .cat-title {
            padding-top: 10px;
            a {
                text-transform: uppercase;
                font-weight: 600;
                color: #000;
                font-size: 15px;
            }
            a::after {
                font-family: "Font Awesome 5 Duotone";
            }
            img {
                border-radius: 26px;
                padding-right: 5px;
                padding-left: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 35px;
                height: 35px;
            }
        }

        //TODO want to change to editable from wp
        // .menu-item-3533 {
        //     img {
        //         background: #dda1a1;
        //     }
        // }
        // .menu-item-3304 {
        //     img {
        //         background: #9fd677;
        //     }
        // }
        // .menu-item-3336 {
        //     img {
        //         background: #6cbccc;
        //     }
        // }
        // .menu-item-3510 {
        //     img {
        //         background: #ab73e2;
        //     }
        // }
    }
    @media (max-width: 992px) {
        .navbar-collapse.show{
            .dropdown-menu{
                .menu-item.cat-second-child {
                    display: none;
                }
            }
        }

        .dropdown-menu{
            border: none;
            padding: 0;
            margin: 0;
            .menu-item.cat-title {
                a {
                    font-size: 13px;
                    color: gray;
                    font-weight: 100;
                    padding: 0;
                    span {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        white-space: break-spaces;
                        img {
                            height:  23px;
                            width: 23px;
                            border-radius: 17px;
                            padding-left: 4px;
                            padding-right: 4px;
                            padding-top: 4px;
                            padding-bottom: 4px;
                        }
                    }
                }
            }
           
        }
       
    }
}
