@import "color";
.material-list {
    .content {
        .card {
            margin-bottom: 30px;
            border: none;
            .left-container {
                img {
                    transition: 0.3s;
                    width: 85%;
                    border: 1px solid $accent-color;
                    border-radius: 119px;
                    object-fit: contain;
                }
            }
            .right-container {
                .more {
                    display: none;
                }
                .shown {
                    display: block !important;
                }
            }
        }
        @media (min-width: 993px) {
            .card:hover {
                .read-toggle {
                    cursor: pointer;
                }
                .left-container {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
