.product-cat{
    display: flex;
    background-color: #F3F3F3;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
    .category-list{
      display: flex;
      text-align: center;
      @media (max-width:400px) {
        width: 50%;
      }
      @media (max-width:374px) {
        width: 100%;
      }
    }
}