@import "color";
.page-post {
    section {
        margin-top: 40px;
    }
    .wp-block-quote {
        background: $accent-color;
        color: white;
        padding: 20px;
    }
    .wp-block-image {
        text-align: center;
    }

    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 23px;
        color: #008066;
    }
   

    .image-text-two-col {
        h2 {
            padding-left: 25px;
        }
        .content {
            border-left: 2px solid green;
            padding-left: 25px;
        }
    }
    .banner {
        min-height: 300px;
        background-size: cover;
        background-position: center;
        .container {
            h2 {
                line-height: 75px;
            }
            p {
                margin-bottom: 2rem;
            }
            max-width: 800px;
            position: relative;
            padding: 40px;
            overflow: hidden;

            // transform: translate(20px,20%);
            .content {
                // background-color: rgba(255, 255, 255, 0.8);
                padding: 10px;
                border-left: 1px #008066 solid;
                margin-bottom: 10px;
                p {
                    padding-bottom: 0px;
                }
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .standard {
        // max-width: 850px;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 40px;
        h2 {
            text-align: center;
            line-height: 75px;
            span {
                display: inline-block;
                position: relative;
            }

            span:before,
            span:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 2px solid $accent-color;
                top: 39px;
                width: 20px;
            }
            span:before {
                right: 100%;
                margin-right: 10px;
            }
            span:after {
                left: 100%;
                margin-left: 10px;
            }
        }
        .content {
            .wp-block-embed.is-type-video {
                text-align: center;
            }
            .custom-btn {
                text-align: center;
            }
        }

        .card {
            h5{
                text-align: center;
                color: $accent-color;
            }
            img {
                height: 300px;
                object-fit: cover;
            }
            a {
                color: $accent-color;
            }
        }
      
    }
    .image-text-two-col {
        .img-wrapper {
            text-align: center;
        }
        .custom-btn{
            margin-top: 35px;
            a{
                padding: 10px 34px;
            }
        }
    }
}
.about {
    .standard {
        .content {
            h4 {
                color: $accent-color;
                font-size: 20px;
                text-align: center;
                line-height: 60px;
            }
            .wp-block-image {
                font-size: 13px;
            }
        }
    }
}
.tribe-events-widget-events-list{
    a{
        color: $accent-color;
    }
}