@import 'color';
.quote{
    color:rgb(102, 102, 102);
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: calc(100vh - 200px);
    // height: 60vh;
    h2 {
        text-align: center;
        line-height: 75px;
        color:rgb(102, 102, 102);
        letter-spacing: 0px;
        span {
            display: inline-block;
            position: relative;
        }

        span:before,
        span:after {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid $accent-color;
            top: 39px;
            width: 20px;
        }
        span:before {
            right: 100%;
            margin-right: 10px;
        }
        span:after {
            left: 100%;
            margin-left: 10px;
        }
    }
   
    .form-wrapper{
        background: #CCCCCC;
        padding: 30px;
        .form-inner{
            background: white;
            padding: 30px;
            .form-row{
                margin-top: 25px;
            }
            label{
                color: $accent-color;
                margin-bottom: 0rem;
            }
            
            .col{
                margin-top: 10px;
            }
            .form-custom-btn{
                margin-top: 20px;
                background: green;
                color: white;
                /* display: inline-block; */
                width: auto;
                /* padding: 20px; */
                border-radius: 19px;
                padding: 5px 30px;
            }
        }
    }
}