.overflow {
    overflow-x: hidden;
   
  }
  
  a{
    color: $main-color;
  }
  .custom-btn {
    a{    
      transition: 0.2s;
      color: white;
      background: $btn-color;
      padding:6px 34px;
      border-radius: 16px;
      text-decoration: none;
  }
}
.custom-btn:hover a{
    background: white;
    border: 1px solid $btn-color;
    color: $btn-color!important;
    cursor: pointer;
}