@import "color";
.woocommerce-page {
    .woocommerce-products-header {
        h1 {
            font-weight: 300;
            line-height: 75px;
            span {
                display: inline-block;
                position: relative;
                width: 100%;
            }

            span:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 2px solid $accent-color;
                top: 39px;
                width: calc(100% - 300px);
            }

            span:after {
                margin-left: 10px;
            }
        }
        h3 {
            color: $accent-color;
        }
    }
    .content-area {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 150px;
        @media (max-width: 380px) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @media (max-width: 767px) {
            .wpgis-slider-nav {
                display: none;
            }
        }
        .site-main {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .product-main {
        margin-top: 50px;
        .product-title {
            border-left: 3px $accent-color solid;
            padding-left: 30px;
            h3 {
                line-height: 1;
                font-weight: 400;
                font-size: 1.75rem;
            }
            p {
                color: $accent-color;
                font-size: 22px;
                font-weight: 100;
                margin-bottom: 0;
                line-height: 1.2;
            }
            p.sku {
                color: black;
                font-size: 16px;
                line-height: 2.5;
                margin-bottom: 30px;
            }
        }
      
        .slick-slide.zoom{
            img{
                height: 300px;
                width: 100%;
                object-fit: contain;
               
            }
            
        }
        .slick-slide{
            img{
                height: 100px;
                border: 1px solid #ccc;
                object-fit: contain;
            }
        }
        .attribute-icons {
            display: flex;
            .icon {
                font-size: 30px;
                margin-right: 40px;
                text-align: center;
            }
            .icon.length {
                padding-top: 4px;
                margin-bottom: 0px;
                line-height: 1;
                p {
                    margin-bottom: 0px;
                }
            }
        }
        .custom-btn {
            margin: 50px 0px 50px 0px;
            a {
                padding: 15px;
                border-radius: 38px;
            }
        }
        .review-section {
            h5 {
                color: $accent-color;
                font-size: 15px;
            }
            a:hover {
                color: initial;
                text-decoration: none;
            }
            .share {
                border-left: 1px solid #ccc;

                a {
                    color: $accent-color;
                    font-weight: 100;
                    font-size: 14px;
                    i {
                        color: #ccc;
                        margin-right: 10px;
                    }
                }
            }
        }
        .packaging {
            font-size: 14px;
            font-weight: 100;
            color: gray;
            .flex-box{
                display: flex;
            }
            .box {
                border: 1px solid #ccc;
                padding: 10px;
                color: $accent-color;
                margin-left: 30px;
            }
        }
        .custom-btn.where-to-buy,
        .custom-btn.certificate {
            a {
                padding: 20px 24px;
                font-size: 15px;
                font-weight: 100;
            }
        }
        .contact-us {
            a {
                color: $accent-color;
                i {
                    margin-right: 10px;
                }
            }
            a:hover {
                color: $accent-color;
                text-decoration: none;
            }
        }

        table.attributes {
            width: 100%;

            td {
                padding: 0 40px 0 0;
                font-weight: 100;
                font-size: 12px;
                line-height: 1.5rem;
            }
            td.label {
                color: #ababab;
                font-weight: 100;
                font-size: 12px;
            }
        }
    }

    .product-footer {
        margin-top: 50px;
        .related {
            padding-top: 50px;
            h2 {
                color: $accent-color;
                font-size: 20px;
            }
            h2.woocommerce-loop-product__title {
                color: black;
            }
        }
        .woocommerce-tabs {
            margin-top: 30px;
            .ssba-classic-2 {
                display: none;
            }
            ul.wc-tabs {
                display: flex;
                margin-bottom: 0px;
                font-size: 13px;
                padding: 0;

                li {
                    list-style: none;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    padding: 10px;
                    font-weight: 100;
                    a:hover {
                        text-decoration: none;
                        color: black;
                    }
                }

                li.active {
                    background: #ececec;
                    a{
                        
                        color: $accent-color;
                    }
                    
                }
                .reviews_tab {
                    scroll-margin-top: 450px;
                }
            }
            .woocommerce-Tabs-panel {
                border: 1px solid #ccc;
                padding: 30px;
                h2 {
                    font-size: 20px;
                    display: none;
                }
                ul{
                    padding-left: 0;
                    li{
                        list-style: none;
                    }
                    li::before{
                        content: '◦';
                        padding-right: 10px;
                        font-size: 10px;
                        color: gray;
                    }
                }
                
            }
        }
        .up-sells {
            margin-top: 30px;
        }
    }
}
