.archive-blogtype1 {
    .contents {
        margin-top: 50px;

        h1 {
            font-weight: 600;
            line-height: 75px;
            span {
                display: inline-block;
                position: relative;
                width: 100%;
            }

            span:after {
                content: "";
                position: absolute;
                height: 5px;
                border-top: 2px solid $accent-color;
                top: 39px;
                width: calc(100% - 300px);
            }

            span:after {
                margin-left: 10px;
            }
        }
        h3 {
            color: $accent-color;
        }
        .row{
            margin-top: 40px;
        }
    }
}
